{% extends 'base.html' %}

{% block title %}
    Catalog
{% endblock %}

{% block body %}
    {% set page_name = 'Catalog Page' %}
    <h1>Welcome to {{ page_name }}</h1>

    <h2 class="{% if color == 'green' %}green{% else %}yellow{% endif %}">Want to find:</h2>

    <form method="GET" action="/catalog">
        <label for="product_type">Product:</label>
        <input name="product_type" type="text" placeholder="Item" id="product_type">
        <label for="size">Size:</label>
        <select name="size" id="size">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select>
        <br>
        <br>
        <input type="submit">
    </form>

    {% if p_type %}
        <h2>Product from search:</h2>
        Product: {{ p_type }}
        <br>
        Size: {{ p_size }}
    {% endif %}

    {{ super() }}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
